<div class="row">
    <div class="col-md-12">
        <h1 class="title">Pas trop d'infos</h1>
        <p class="sub-title">Les 5 meilleures infos du jour, triées en fonction d'un score social basé sur les intéractions entre utilisateurs de twitter.</p>
        <div ng-repeat="categorie in categories" class="panel {{getCategorieClass(categorie._id)}}">
            <div class="panel-heading cat-name">{{categorie.name}}</div>
            <div class="panel-body">
                <div class="media" ng-repeat="info in categorie.infos">
                    <a class="pull-left" ng-href="{{info.link}}">
                        <img class="media-object" ng-src="{{info.img}}" alt="{{info.title}}" width="200" height="120">
                    </a>
                  <div class="media-body">
                    <h3 class="media-heading"><a class="info-name" ng-href="{{info.link}}">{{info.title}}</a></h4>
                    <span class="description">{{info.description}} <a ng-href="{{info.link}}">lire plus...</a></span>
                    <br>
                    <br>
                    <span class="score"><span class="score-header">PTDI Score :</span> {{info.score}}</span>
                  </div>
                </div>

            </div>
        </div>
    </div>
</div>
