<div class="row">
	<div class="col-md-12">
		<h1 class="title">Pas trop d'infos</h1><h2>Actualités du {{categories[0].infos[0].date| date:'EEEE dd MMMM yyyy' }}</h2>
		<p class="sub-title">Les 5 meilleures infos du jour, triées en fonction d'un score social basé sur les interactions entre utilisateurs de twitter.</p>
        <nav class="pagination">
            <p class="prev"><a ng-href="/#/{{(currentPage -1 == 0) ? '' : currentPage - 1}}" ng-if="currentPage > 0">Précédent</a></p>
            <p class="next"><a ng-href="/#/{{currentPage - 1 + 2}}" ng-if="currentPage < nbPages-1">Suivant</a></p>
        </nav>
		<div ng-repeat="categorie in categories" class="panel {{getCategorieClass(categorie._id)}}">
			<div class="panel-heading cat-name"><a ng-href="/#/infos/{{categorie.infos[0]._id}}">{{categorie.name}}</a></div>
			<div class="panel-body">
				<div class="media" ng-repeat="info in categorie.infos">
					<a class="pull-left" ng-href="{{info.link}}" ng-click="openLink(info._id)">
						<img class="media-object" ng-src="{{info.img}}" alt="{{info.title}}" width="200" height="120">
					</a>
					<div class="media-body">
						<h3 class="media-heading"><a class="info-name" ng-href="{{info.link}}" ng-click="openLink(info._id)">{{info.title}}</a></h3>
						<span class="description"><span ng-bind-html="info.description"></span> <a ng-href="{{info.link}}">lire plus...</a></span>
						<br>
						<br>
						<span class="score"><span class="score-header">
							<a class="btn btn-social-icon btn-facebook" onClick="window.open(this.href,'facebook','width=550,height=350');return false;" ng-href="http://www.facebook.com/sharer.php?u={{encodeURIComponent(url)}}/#/infos/{{info._id}}"><i class="fa fa-facebook"></i></a>
							<a class="btn btn-social-icon btn-twitter" ng-href="http://twitter.com/share?text={{encodeURIComponent(info.title)}}&url={{encodeURIComponent(url)}}/#/infos/{{info._id}}" onclick="window.open(this.href,'twitter','width=550,height=250');return false;"><i class="fa fa-twitter"></i></a>&nbsp;
							PTDI Score :</span> {{info.score}}
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>