/*Best style for the best web app !*/
.body {
	font-family: 'Open Sans', sans-serif;
}

.score {
	float : right;
	font-size: x-large;
}.score-header {
	font-size: large;
}

.source {
	font-style: italic;
}

h1.title {
	font-family: 'Playfair Display', serif;
	font-size:120px;
}

p.sub-title {
	font-size:30px;
}

.cat-name {
	font-family: 'Playfair Display', serif;
	font-size:20px;
}

a.info-name{
	font-family: 'Playfair Display', serif;
	font-size: 24px;
}